<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@500;600;700&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        
        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .navbar {
            background: #080710;
            background-size: fill;
            color: #fff;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .navbar-left {
            padding: 10px;
            font-style: italic;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        .navbar-right {
            margin-inline-end: 20px;
            padding: 10px;
        }
        
        .navbar-list {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
        }
        
        .navbar-list>li {
            margin-inline-start: 10px;
        }
        
        .navbar-list>li>a {
            padding: 10px;
            color: #f5f5f5;
            font-weight: 500;
            text-decoration: none;
            font-size: 3.5vmin;
        }
        
        .navbar-list>li>a:hover {
            border-bottom: 3px solid #ffffff;
            transition: all 0.2s ease-in-out;
        }
        
        .container {
            height: calc(100vh - 75px);
            background: #080710;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        
        @media(max-width:1024px) {
            .container {
                flex-direction: column-reverse;
            }
        }
        
        .text-div {
            padding: 30px;
            color: #ff512f;
        }
        
        .text-div>p {
            font-size: 10vmin;
            font-weight: 700;
        }
        
        .text-div>.desc {
            color: #f09819;
            font-size: 6vmin;
            font-weight: 600;
        }
        
        .text-div>i {
            font-size: 4vmin;
        }
        
        .logo {
            height: 10vmin;
            width: 10vmin;
        }
        
        .text-div>.get-started {
            padding: 10px;
            margin-top: 15px;
            font-size: 4vmin;
            font-weight: 600;
            background: linear-gradient(to bottom right, #1845ad, #23a2f6);
            text-decoration: none;
            color: #f5f5f5;
            outline: none;
            border: none;
            border-radius: 15px;
        }
        
        .get-started:hover {
            background: linear-gradient(to bottom right, #23a2f6, #1845ad);
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
        }
        
        .image-div {
            padding: 10px;
            margin: 10px;
        }
        
        .image-div>.image {
            height: 45vmin;
            width: 45vmin;
            object-fit: contain;
        }
        
        .description-div {
            height: 80%;
            background: #080710;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid rgba(255, 255, 255, 0.13);
        }
        
        .desc-wrapper {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #080710;
        }
        
        @media(max-width:800px) {
            .desc-wrapper {
                height: 100%;
            }
        }
        
        .desc-container {
            height: 65vmin;
            background: rgba(255, 255, 255, 0.13);
            padding: 20px;
            margin: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 0.5;
        }
        
        .desc-container>.image>svg {
            height: 30vmin;
            width: auto;
            object-fit: contain;
        }
        
        .desc-container>.text {
            margin-top: 10px;
        }
        
        .desc-header {
            font-size: 6vmin;
            color: #ff512f;
            border-bottom: 2px solid rgba(255, 255, 255, 0.13);
            font-weight: 600;
            width: 100%;
            text-align: center;
        }
        
        .text>h2 {
            color: #23a2f6;
            font-size: 4vmin;
        }
        
        .text>p {
            color: #f5f5f5;
            font-size: 3vmin;
        }
        
        @media(max-width:1024px) {
            .description-div {
                flex-direction: column;
            }
        }
    </style>
</head>

<body>
    <div class="header">
        <nav class="navbar">
            <div class="navbar-left">
                <img src="https://thumbs.dreamstime.com/b/two-color-dormitory-vector-icon-maps-flags-concept-isolated-blue-sign-symbol-can-be-use-web-mobile-logo-eps-149160043.jpg" class="logo" />
            </div>
            <div class="navbar-right">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/contribute">Contribute</a>
                    </li>
                    <li class="navbar-item">
                        <% if (user) { %>
                            <a href="/logout">Logout</a>
                            <% } else { %>
                                <a href="/login">Login</a>
                                <% } %>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="text-div">
            <p>Find My Dorm API</p>
            <p class="desc">Admin Panel for data management</p>
            <button class="get-started"><a href="/login" style="color: #f5f5f5; text-decoration:none;">
                <% if (user) { %>
                            Dashboard
                            <% } else { %>
                                Get Started
                                <% } %>
                                    </a>
                                    </button>
        </div>
        <div class="image-div">
            <svg class="image" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="909" height="453" viewBox="0 0 909 453" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="248.18685" cy="325.81866" r="44.68221" fill="#f5f5f5"/><path d="M360.695,519.47445a44.68569,44.68569,0,0,0,74.45376,47.29034A44.68605,44.68605,0,1,1,360.695,519.47445Z" transform="translate(-145.5 -223.5)" opacity="0.2" style="isolation:isolate"/><polygon points="248.31 325.819 248.432 325.819 250.642 452.5 245.977 452.5 248.31 325.819" fill="#1845ad"/><circle cx="157.78162" cy="197.08744" r="90.08744" fill="#e4e4e4"/><path d="M236.764,360.4161A90.09446,90.09446,0,0,0,386.87626,455.762,90.0952,90.0952,0,1,1,236.764,360.4161Z" transform="translate(-145.5 -223.5)" opacity="0.2" style="isolation:isolate"/><polygon points="158.029 197.087 158.277 197.087 162.732 452.5 153.327 452.5 158.029 197.087" fill="#3f3d56"/><rect x="338.809" y="320.29982" width="412.92155" height="122.40757" fill="#f5f5f5"/><rect x="521.19629" y="345.59739" width="48.14698" height="97.11001" fill="#cacaca"/><rect x="362.88249" y="175.85888" width="364.77457" height="112.61497" fill="#f0f0f0"/><path d="M910.13873,406.29531H471.40082a3.67218,3.67218,0,0,1-2.54478-6.31961l119.90743-115.256V234.51668a3.67637,3.67637,0,0,1,3.67222-3.67223h23.66547a3.67624,3.67624,0,0,1,3.67222,3.67223v20.39648l9.05685-8.7056a81.37343,81.37343,0,0,1,110.80037-1.84249L912.59406,399.892a3.67254,3.67254,0,0,1-2.45533,6.40329Z" transform="translate(-145.5 -223.5)" fill="#cacaca"/><path d="M459.17643,204.42065h0a23.25742,23.25742,0,0,1,23.25742,23.25742v31.418a0,0,0,0,1,0,0H435.919a0,0,0,0,1,0,0v-31.418A23.25742,23.25742,0,0,1,459.17643,204.42065Z" fill="#fff"/><path d="M545.26975,204.82867h0a23.25742,23.25742,0,0,1,23.25742,23.25742v31.418a0,0,0,0,1,0,0H522.01234a0,0,0,0,1,0,0v-31.418A23.25742,23.25742,0,0,1,545.26975,204.82867Z" fill="#fff"/><path d="M631.36308,205.2367h0a23.25742,23.25742,0,0,1,23.25742,23.25742v31.418a0,0,0,0,1,0,0H608.10567a0,0,0,0,1,0,0v-31.418A23.25742,23.25742,0,0,1,631.36308,205.2367Z" fill="#fff"/><path d="M665.6372,344.37331h0a23.25742,23.25742,0,0,1,23.25742,23.25742v31.418a0,0,0,0,1,0,0H642.37979a0,0,0,0,1,0,0v-31.418A23.25742,23.25742,0,0,1,665.6372,344.37331Z" fill="#fff"/><path d="M435.511,344.37331h0a23.25742,23.25742,0,0,1,23.25742,23.25742v31.418a0,0,0,0,1,0,0H412.25355a0,0,0,0,1,0,0v-31.418A23.25742,23.25742,0,0,1,435.511,344.37331Z" fill="#fff"/><path d="M957.55673,545.71109,880.09728,511.437a3.26366,3.26366,0,0,0-1.32071-.27917H509.61772a3.26264,3.26264,0,0,0-1.22925.24027l-84.31459,34.27412a3.26423,3.26423,0,0,0,1.22925,6.28813H447.1787v112.615h-2.44815V676H936.809V664.57529h-4.08025v-112.615H956.236A3.26418,3.26418,0,0,0,957.55673,545.71109Zm-31.35638,118.8642H453.70711v-112.615H926.20035Z" transform="translate(-145.5 -223.5)" fill="#cacaca"/><rect x="428.57456" y="254.60775" width="59.57169" height="9.79261" fill="#cacaca"/><rect x="515.89196" y="254.60775" width="59.57169" height="9.79261" fill="#cacaca"/><rect x="603.20936" y="254.60775" width="59.57169" height="9.79261" fill="#cacaca"/><rect x="635.85138" y="395.78449" width="59.57169" height="9.79261" fill="#cacaca"/><rect x="404.90909" y="395.78449" width="59.57169" height="9.79261" fill="#cacaca"/><path d="M1053.5,676.5h-907a1,1,0,0,1,0-2h907a1,1,0,0,1,0,2Z" transform="translate(-145.5 -223.5)" fill="#1845ad"/><path d="M825.36648,397.67993c0,.64014-.01,1.29-.02,1.93006-.01.77-.03,1.53-.06006,2.29992-.02979.67005-.06006,1.33008-.09986,1.99-.12011,2.21009-.31005,4.41016-.57006,6.62012-.06006.55994-.12989,1.11-.21,1.66992-.06006.43006-.12012.87012-.18995,1.31006-.07006.49-.14013.98-.22021,1.47q-.23986,1.56006-.54,3.12c-.09985.52-.19971,1.04-.30981,1.55993-.21,1.03-.44019,2.07007-.67994,3.1001-.02.08-.04.16992-.06005.25-.12012.51-.24,1.01-.37012,1.52-.04.1499-.06983.29-.11987.43994-.09009.38-.19019.76-.29,1.14-.1399.53-.28,1.04992-.42994,1.57995-.24023.82007-.48,1.63013-.73,2.45007a2.58139,2.58139,0,0,0-.08007.26c-.48,1.54993-.99,3.08-1.55,4.6-.29.8-.59986,1.61-.90992,2.40991-.31.8-.63012,1.6001-.96,2.39014-.32006.77-.65014,1.53992-.98,2.29993-.08007.18-.16015.36-.25.54-.35009.78992-.7102,1.55994-1.08007,2.33-.01.01-.01.03-.02.04-.29.62-.6001,1.24-.91016,1.85a.07467.07467,0,0,1-.02.04992c-.2998.6001-.60986,1.20008-.92993,1.79l-.51.97-.06006.11011c-.63989,1.18994-1.2998,2.37-2,3.54-.1499.26-.2998.5199-.44971.7699-.15014.26-.31006.52-.47021.77q-.14979.27007-.33008.54c-.21.34-.41992.69-.63989,1.02991-.04.07007-.09009.14014-.12989.21008-.38012.59-.76,1.17005-1.14013,1.76-.47.71-.95,1.41-1.43994,2.11l-10.86011,17.38-.47-.39-.12988-.12h-.01l-.43018-.36-1.17993-1c-.35986.35-.71.7-1.07007,1.04-.13989.13989-.28979.27-.42993.40991-.10986.1001-.21.2-.32007.3a104.718,104.718,0,0,1-69.98,29.75h-.02979a114.29827,114.29827,0,0,1-57.03-13.46c-.39014-.20007-.77-.40015-1.15015-.63013-2.27979-1.24-4.50977-2.54992-6.7-3.95-.01-.01-.02-.01-.03-.02q-3.81006-2.70008-7.43994-5.76a109.92718,109.92718,0,0,1-38.92993-89.79c.03-.67.07006-1.32995.11987-2q.24023-3.63.74-7.23c.09009-.67.19018-1.34.29-2h213.78q.62988,4.59.87011,9.23C825.31643,393.83,825.36648,395.75,825.36648,397.67993Z" transform="translate(-145.5 -223.5)" fill="#f0f0f0"/><path d="M824.34646,382.67a108.09184,108.09184,0,0,0-213.78,0c-.09986.66-.19995,1.33-.29,2q-.49476,3.6-.74,7.23H825.21657Q824.97635,387.265,824.34646,382.67Z" transform="translate(-145.5 -223.5)" fill="#23a2f6"/><path d="M724.45886,494.04669H662.52124V444.50025c1.14284-22.64294,20.49578-24.47138,38.68036-23.25619a23.25555,23.25555,0,0,1,23.25726,23.25619Z" transform="translate(-145.5 -223.5)" fill="#23a2f6"/><path d="M662.51638,458.82007V458.83c0,.01.01.01.02.01ZM637.60647,382.67c-.04.25-.09009.5-.13013.75.04-.25.09009-.5.14014-.75Zm-1.24,9.23c-.03.38-.06006.76-.08008,1.14q.03-.57.09009-1.14a1.47492,1.47492,0,0,1,.01-.21C636.37649,391.76,636.37649,391.83,636.36648,391.9Zm26.1499,66.93c0,.01.01.01.02.01l-.02-.0199Zm-24.90991-76.16c-.04.25-.09009.5-.13013.75.04-.25.09009-.5.14014-.75Zm-1.32007,10.37q.03-.57.09009-1.14a1.47492,1.47492,0,0,1,.01-.21c-.01.07-.01.14-.02.21C636.33645,392.28,636.30642,392.66,636.2864,393.04ZM945.22634,577a6.77183,6.77183,0,0,0-.61987-.58008l-.01-.01-49.52-41.78991-1.28-1.08-4.86988-4.11011-1.22021-1.03L880.76638,522.54l-1.8999-1.6001L874.93654,517.62l-2.01-1.70008-18.96-15.99L843.09646,490.76l-1.46-1.23-32.03-27.03c.49-.7.97-1.4,1.43994-2.11.38012-.59.76-1.17,1.14013-1.76.0398-.06994.08985-.14.12989-.21008.22-.34.42993-.68994.63989-1.02991q.18018-.27007.33008-.54c.16015-.25.32007-.51.47021-.77.14991-.25.29981-.50989.44971-.7699.7002-1.17005,1.36011-2.3501,2-3.54l.06006-.11011.51-.97c.32007-.59.63013-1.18994.92993-1.79a.07467.07467,0,0,0,.02-.04992c.31006-.61.62012-1.23.91016-1.85.01-.01.01-.03.02-.04.36987-.77.73-1.54,1.08007-2.33.08985-.18.16993-.36.25-.54.32984-.76.65992-1.52991.98-2.29993.32984-.79.64991-1.59009.96-2.39014.31006-.79992.61988-1.60986.90992-2.40991q.82507-2.295,1.55-4.6a2.58139,2.58139,0,0,1,.08007-.26c.25-.81994.48975-1.63.73-2.45007.14991-.53.29-1.04993.42994-1.57995.09985-.38.2-.76.29-1.14.05-.1499.07983-.29.11987-.43994.13013-.51.25-1.01.37012-1.52.02-.08008.04-.17.06005-.25.23975-1.03.47-2.07007.67994-3.1001.1101-.5199.21-1.03991.30981-1.55993.19019-1.03992.38013-2.08.54-3.12.08008-.49.15015-.98.22021-1.47.06983-.43994.12989-.88.18995-1.31006.08007-.55994.1499-1.11.21-1.66992.26-2.21.44995-4.41.57006-6.62012.0398-.65991.07007-1.31994.09986-1.99.03-.7699.05005-1.52991.06006-2.29992.01-.64.02-1.28992.02-1.93006,0-1.92993-.05005-3.85-.14991-5.78q-.24023-4.63494-.87011-9.23a110.05211,110.05211,0,0,0-217.78-2c-.09986.66-.19995,1.33-.29,2q-.49476,3.6-.74,7.23c-.04981.67005-.08985,1.33-.11987,2a109.92718,109.92718,0,0,0,38.92993,89.79q3.62988,3.06006,7.43994,5.76c.01.01.02.01.03.02.8501.6001,1.7,1.18994,2.56006,1.77,1.36987.9,2.75,1.78,4.13989,2.62.11011.05993.22021.13.33008.19006,1.2.72,2.41015,1.40991,3.62011,2.07995h.00977a108.15267,108.15267,0,0,0,13.99023,6.44007,110.38385,110.38385,0,0,0,44.23,6.93994h.02979a109.76088,109.76088,0,0,0,49.91016-14.77c2.21-1.28,4.38989-2.65,6.52-4.11.53-.36,1.06982-.7301,1.58984-1.1.64014-.45007,1.28-.92,1.92017-1.39.01,0,.01-.01.02-.01a1.42983,1.42983,0,0,1,.14991-.11c.42993-.33008.86987-.66,1.29-.98.1101-.08008.22-.16.32983-.25a.48138.48138,0,0,0,.08008-.07007c.25-.17993.49-.38.74-.57007.25-.18994.49-.38989.74-.58984a.9391.9391,0,0,0,.12012-.09009c.28-.23.56005-.45.83984-.67993.29-.23.57007-.47.84009-.70007.28-.23.55005-.46.83008-.7.24-.20007.49-.41.73-.63.07983-.06006.1499-.13.23-.2a.71346.71346,0,0,1,.09985-.08008c.33008-.28.65015-.57007.97021-.86.08008-.07.14991-.14.23-.21009.49-.43994.98-.87988,1.46-1.33984.10986-.1001.23-.21008.33984-.31006.11011-.1001.21021-.2.32007-.3.14014-.13989.29-.27.42993-.40991.36011-.34009.71021-.69006,1.07007-1.04l1.17993,1,.43018.36h.01l.12988.12.47.39,6.98,5.9.15015.12988.11987.09009.79.66992,1.58008,1.34009,1.58007,1.33.23.19006,7.34986,6.2,1.02.86,7.09009,5.9801,36.7,30.97,1.28,1.08,50.23,42.38,12.87988,10.87,4.79,4.03991a10.13315,10.13315,0,0,0,14.29-1.19995,9.84215,9.84215,0,0,0,1.68994-2.84A10.09075,10.09075,0,0,0,945.22634,577ZM655.55642,345.19a82.447,82.447,0,0,1,143.95019,37.48c.12989.67.25,1.33.35987,2,.40991,2.39.71,4.81.89013,7.23.04981.67005.09986,1.33.12989,2,.08984,1.5.12988,3.01.12988,4.51a82.07827,82.07827,0,0,1-4.46,26.74v.01a82.00716,82.00716,0,0,1-14.97,26.38013c-.1399.15991-.28.33-.42993.49-1.32007,1.55994-2.71,3.05994-4.14014,4.49-.00977.01-.02.03-.02979.04-.49023.49-.99023.99-1.49023,1.45-1.02.99-2.05982,1.92993-3.11987,2.83q-2.38514,2.085-4.8899,3.91c-.56006.40991-1.12011.81006-1.69018,1.21-.55982.4-1.12988.78-1.7,1.16-1.14014.76-2.3,1.49-3.47,2.18-.58008.34985-1.17994.68994-1.77,1.02-.59009.33984-1.18994.65991-1.79.97-.59986.32-1.19995.62988-1.80982.92993-1.2102.61-2.43017,1.17993-3.67016,1.71q-.92982.42-1.86011.78c-.38989.16-.77.32007-1.15991.46a3.761,3.761,0,0,1-.47.18006q-.31494.13494-.62989.24a1.81589,1.81589,0,0,1-.21.07995c-.43017.17005-.85009.32007-1.29.47009-.63012.23-1.26025.44-1.90014.64-.6399.21-1.27.40991-1.90991.59-.64014.20007-1.29.38-1.93018.54992-.6499.18006-1.2898.3501-1.93994.5-.68994.18006-1.37988.34009-2.08008.49-.60986.14014-1.21.26-1.81982.37012-.57007.11987-1.14991.22-1.72.32-.8.14-1.6001.27-2.40992.38-.44018.07007-.87011.13-1.31006.16992-.18994.03-.37011.05-.55.07007-.56006.08008-1.12012.14-1.67017.18994-.1499.01-.2898.03-.42993.04-.60987.06006-1.23.11011-1.84009.16-1.30981.09-2.60986.15-3.91992.18-.65991.01-1.33008.02-1.99.02s-1.32007-.01-1.98-.03c0,0,0,.01-.01,0-.01.01-.01.01-.02,0a.01386.01386,0,0,1-.02,0,.16975.16975,0,0,1-.09985,0c-.47,0-.94019-.02-1.40015-.05-.33985-.01-.68994-.02-1.04-.05q-.7046-.03-1.40991-.09c-.1499,0-.3-.0199-.44995-.02991a1.48637,1.48637,0,0,1-.21-.02c-.48-.04-.97-.08008-1.4502-.13013-.23975-.0199-.48975-.03991-.73-.06994-.73-.08-1.46-.17005-2.17993-.2699-.82007-.1001-1.63989-.22009-2.45-.37012-.37989-.05-.75-.12-1.12012-.18994q-.73463-.12012-1.46973-.27c-.51025-.1-1.02-.2-1.53027-.32007-.40991-.09-.82983-.17993-1.23975-.27991-.20019-.04-.40014-.09-.59008-.14-1.05005-.25-2.09009-.52-3.12012-.82007-.6499-.17993-1.3-.36987-1.93994-.56994-.88013-.27-1.75-.55994-2.61988-.87-.34008-.11-.67016-.23-1.01025-.36-.33984-.11-.66992-.24-1.00977-.37-.31005-.11011-.62011-.23-.92016-.3501-.5-.18994-.99-.38989-1.48-.58984-1.01-.41016-2-.84009-2.99-1.3-.56006-.27-1.11988-.53-1.66992-.8q-3.25489-1.57507-6.41016-3.5c-.52-.31006-1.0398-.64-1.55981-.97-.65015-.4-1.28-.82007-1.90992-1.24-.35009-.24-.69018-.47-1.03027-.71-.62988-.44006-1.25-.89014-1.85986-1.34009-.32007-.23-.64014-.47-.95-.71-1.11011-.84009-2.2-1.72-3.27-2.62-.51-.43-1.02-.87-1.52-1.31994-.21-.18006-.42017-.37012-.63013-.56006-.23975-.22-.48-.42993-.71-.66l-.02-.0199c-.34985-.31006-.7-.64014-1.04-.97009-.52979-.5-1.04981-1.01-1.54981-1.52991-.52-.51-1.02-1.04-1.51-1.56006-.5-.52-.98-1.05-1.45-1.59009q-.72-.79486-1.41015-1.61987c-.45-.52-.88989-1.06006-1.31006-1.59009q-1.53-1.89-2.91992-3.85c-.42993-.6-.83985-1.20008-1.24-1.80994-.42993-.62012-.84009-1.25-1.23-1.88013-.40992-.62988-.8-1.27-1.17994-1.91992a.20915.20915,0,0,0-.04-.06006c-.75-1.27-1.47-2.54993-2.14014-3.85q-1.03491-1.97992-1.94995-4c-.30982-.67005-.60987-1.35-.88989-2.02991-.58008-1.37012-1.12012-2.74-1.62012-4.13013-.25-.66992-.48-1.34-.71-2.02a.49523.49523,0,0,0-.04-.12988c-.46-1.38013-.87988-2.77-1.25-4.17-.01-.02-.01-.03992-.02-.05994-.18994-.69006-.36987-1.38013-.52979-2.08008-.16015-.61-.3-1.22-.43017-1.84-.1499-.69006-.29981-1.38-.42993-2.07995-.07007-.36011-.1399-.72009-.2-1.08008-.06-.3-.1101-.61-.16015-.90991-.04981-.3-.09985-.61011-.1499-.92005q-.15015-.915-.27-1.82995c-.1001-.72009-.17993-1.44006-.26-2.17005-.09009-.87-.16992-1.74011-.24-2.62-.05-.59009-.08008-1.19006-.10987-1.79-.03027-.55-.06006-1.1-.07006-1.65a.13853.13853,0,0,1,0-.09.01386.01386,0,0,1,0-.02c-.01-.01-.01-.01,0-.02a.01386.01386,0,0,1,0-.02c-.01-.22-.02-.43994-.02-.65991q-.03-.975-.03-1.95c0-.59009.01-1.17011.02-1.76007q.03-1.23.08984-2.46c0-.18.02-.35.03027-.53.00977-.18.01978-.35.02979-.53q.03-.57.09009-1.14a1.47492,1.47492,0,0,1,.01-.21c.03-.43.06982-.86.10986-1.29.08008-.86.18017-1.73.29-2.59.06006-.43.11011-.86.18017-1.29.04-.3.08985-.61.1399-.92q.06006-.465.15014-.93c.06983-.41.1399-.83.21973-1.25.04-.25.09009-.5.14014-.75q.28491-1.5.62988-3c.23-1.01.49023-2.01.77-3.01.27-1.01.57007-2.02.89014-3.03.1499-.51.31005-1.01.49-1.51.32983-1.01.67993-2.01,1.07006-3,.17994-.49.36988-.99.57984-1.48.40014-.99.82007-1.98,1.25-2.95.22-.49.44018-.98.67993-1.47.45019-.97.92017-1.94,1.43018-2.89.49-.97,1.02-1.92,1.56005-2.86s1.09986-1.88,1.68995-2.81c.27-.46.56982-.93.87988-1.38.6001-.92,1.23-1.84,1.87012-2.74C652.69655,348.72,654.08645,346.93,655.55642,345.19ZM636.36648,391.9c-.03.38-.06006.76-.08008,1.14q.03-.57.09009-1.14a1.47492,1.47492,0,0,1,.01-.21C636.37649,391.76,636.37649,391.83,636.36648,391.9Zm1.24-9.23c-.04.25-.09009.5-.13013.75.04-.25.09009-.5.14014-.75Zm24.90991,76.15009V458.83c0,.01.01.01.02.01Z" transform="translate(-145.5 -223.5)" fill="#1845ad"/><path d="M665.39757,461.37905a82.45487,82.45487,0,0,1-13.99113-110.84027q-2.36469,2.38145-4.572,4.98814A82.45039,82.45039,0,1,0,772.86388,461.87q2.20231-2.61,4.14788-5.346A82.45472,82.45472,0,0,1,665.39757,461.37905Z" transform="translate(-145.5 -223.5)" opacity="0.3" style="isolation:isolate"/></svg>
        </div>
    </div>
    <div class="desc-wrapper">
        <h2 class="desc-header">Features</h2>
        <div class="description-div">
            <div class="desc-container">
                <div class="image">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="1029.56255" height="548.69495" viewBox="0 0 1029.56255 548.69495" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M133.37467,722.76736l.21351-1.12612c.04736-.24754,4.90753-24.90966,23.12635-39.22042,18.21964-14.3114,43.33085-13.19135,43.58186-13.17828l1.145.05909-.21358,1.12564c-.04737.24754-4.90763,24.90918-23.12636,39.22042-18.21964,14.3114-43.33084,13.19135-43.58186,13.17828ZM157.95,683.994c-15.40414,12.09937-20.95072,31.88327-22.13763,36.85812,5.11571.02181,25.6644-.68921,41.0536-12.77757,15.38743-12.08706,20.94624-31.88051,22.13762-36.85812C193.88493,671.19461,173.33832,671.90627,157.95,683.994Z" transform="translate(-85.21873 -175.65252)" fill="#f1f1f1"/><path d="M165.19537,689.48163c-8.34609,21.49794-30.31721,33.0224-30.31721,33.0224s-8.43942-23.33063-.09333-44.82857S165.102,644.65305,165.102,644.65305,173.54146,667.98369,165.19537,689.48163Z" transform="translate(-85.21873 -175.65252)" fill="#f1f1f1"/><path d="M1084.55991,722.826c-.251.01307-25.36223,1.13312-43.58186-13.17828-18.21874-14.31124-23.079-38.97288-23.12636-39.22042l-.21359-1.12564,1.145-.05909c.251-.01307,25.36223-1.13312,43.58186,13.17828,18.21882,14.31076,23.079,38.97288,23.12636,39.22042l.2135,1.12612Zm-64.484-51.60955c1.19139,4.97761,6.75019,24.77106,22.13763,36.85812,15.38919,12.08836,35.93789,12.79938,41.05359,12.77757-1.1869-4.97485-6.73348-24.75875-22.13762-36.85812C1045.74117,671.90627,1025.19457,671.19461,1020.076,671.21642Z" transform="translate(-85.21873 -175.65252)" fill="#f1f1f1"/><path d="M1053.88412,689.48163c8.34609,21.49794,30.31722,33.0224,30.31722,33.0224s8.43942-23.33063.09333-44.82857-30.31722-33.02241-30.31722-33.02241S1045.538,667.98369,1053.88412,689.48163Z" transform="translate(-85.21873 -175.65252)" fill="#f1f1f1"/><path d="M675.31479,717.62706l-14.5923-6.1443-10.01026-73.15138H517.40762L506.55725,711.1839l-13.05512,6.52746a3.10016,3.10016,0,0,0,1.38657,5.873H674.11213A3.1,3.1,0,0,0,675.31479,717.62706Z" transform="translate(-85.21873 -175.65252)" fill="#e6e6e6"/><path d="M912.20621,648.06385H257.377a12.97344,12.97344,0,0,1-12.9443-12.97332V542.751h680.7178v92.33952A12.97356,12.97356,0,0,1,912.20621,648.06385Z" transform="translate(-85.21873 -175.65252)" fill="#ccc"/><path d="M925.835,586.39288h-682V191.29161a15.6572,15.6572,0,0,1,15.63964-15.63909H910.1952A15.65735,15.65735,0,0,1,925.835,191.29161Z" transform="translate(-85.21873 -175.65252)" fill="#3f3d56"/><path d="M885.10186,557.71639H284.56818a12.07023,12.07023,0,0,1-12.057-12.05667v-329.274a12.07087,12.07087,0,0,1,12.057-12.05741H885.10186a12.07088,12.07088,0,0,1,12.057,12.05741v329.274A12.07024,12.07024,0,0,1,885.10186,557.71639Z" transform="translate(-85.21873 -175.65252)" fill="#fff"/><path d="M1113.255,724.34746l-1026.44821,0a1.56682,1.56682,0,0,1-1.53909-1.13363,1.52912,1.52912,0,0,1,1.47725-1.91893l1026.385,0a1.61535,1.61535,0,0,1,1.61617,1.19368A1.52819,1.52819,0,0,1,1113.255,724.34746Z" transform="translate(-85.21873 -175.65252)" fill="#ccc"/><rect x="219.58182" y="153.2027" width="98.80647" height="9.27916" fill="#e5e5e5"/><rect x="219.58182" y="175.70578" width="98.80647" height="9.27916" fill="#e5e5e5"/><rect x="219.58182" y="198.70578" width="98.80647" height="9.27916" fill="#e5e5e5"/><rect x="219.58182" y="221.70578" width="98.80647" height="9.27916" fill="#e5e5e5"/><rect x="242.98506" y="250.93227" width="52" height="8.05267" fill="#6c63ff"/><rect x="471.19198" y="210.75367" width="0.94479" height="2.83436" fill="#e5e5e5"/><path d="M557.35549,449.63117h-.94478V443.592h.94478Zm0-12.07807h-.94478v-6.03916h.94478Zm0-12.07831h-.94478v-6.03893h.94478Zm0-12.07808h-.94478v-6.03916h.94478Zm0-12.07808h-.94478v-6.03916h.94478Z" transform="translate(-85.21873 -175.65252)" fill="#e5e5e5"/><rect x="471.19198" y="280.01781" width="0.94479" height="2.83436" fill="#e5e5e5"/><rect x="574.64601" y="210.75367" width="0.94479" height="2.83436" fill="#e5e5e5"/><path d="M660.80952,449.63117h-.94479V443.592h.94479Zm0-12.07807h-.94479v-6.03916h.94479Zm0-12.07831h-.94479v-6.03893h.94479Zm0-12.07808h-.94479v-6.03916h.94479Zm0-12.07808h-.94479v-6.03916h.94479Z" transform="translate(-85.21873 -175.65252)" fill="#e5e5e5"/><rect x="574.64601" y="280.01781" width="0.94479" height="2.83436" fill="#e5e5e5"/><rect x="626.83111" y="155.3061" width="0.94479" height="2.83436" fill="#e5e5e5"/><path d="M712.99462,449.86668h-.94478V444.063h.94478Zm0-11.6073h-.94478V432.4555h.94478Zm0-11.60753h-.94478V420.8482h.94478Zm0-11.6073h-.94478V409.2409h.94478Zm0-11.6073h-.94478v-5.80388h.94478Zm0-11.60753h-.94478v-5.80365h.94478Zm0-11.60731h-.94478v-5.80365h.94478Zm0-11.6073h-.94478v-5.80365h.94478Zm0-11.60753h-.94478v-5.80365h.94478Zm0-11.6073h-.94478v-5.80365h.94478Z" transform="translate(-85.21873 -175.65252)" fill="#e5e5e5"/><rect x="626.83111" y="280.01781" width="0.94479" height="2.83436" fill="#e5e5e5"/><rect x="678.49585" y="132.63125" width="0.94479" height="2.83436" fill="#e5e5e5"/><path d="M764.65936,449.88836h-.94479v-5.7822h.94479Zm0-11.56417h-.94479V432.542h.94479Zm0-11.56416h-.94479v-5.7822h.94479Zm0-11.56417h-.94479v-5.7822h.94479Zm0-11.56417h-.94479v-5.7822h.94479Zm0-11.56416h-.94479v-5.7822h.94479Zm0-11.56417h-.94479v-5.7822h.94479Zm0-11.56417h-.94479V363.157h.94479Zm0-11.56416h-.94479v-5.7822h.94479Zm0-11.56417h-.94479v-5.7822h.94479Zm0-11.56417h-.94479v-5.7822h.94479Zm0-11.56417h-.94479v-5.78219h.94479Z" transform="translate(-85.21873 -175.65252)" fill="#e5e5e5"/><rect x="678.49585" y="280.01781" width="0.94479" height="2.83436" fill="#e5e5e5"/><rect x="523.15519" y="172.78464" width="0.94479" height="2.83436" fill="#e5e5e5"/><path d="M609.3187,450.17576h-.94478V444.6812h.94478Zm0-10.98936h-.94478v-5.49456h.94478Zm0-10.98936h-.94478v-5.49456h.94478Zm0-10.98936h-.94478v-5.49456h.94478Zm0-10.98936h-.94478v-5.49456h.94478Zm0-10.98936h-.94478v-5.49457h.94478Zm0-10.98936h-.94478V378.745h.94478Zm0-10.98936h-.94478v-5.49457h.94478Zm0-10.98936h-.94478v-5.49457h.94478Z" transform="translate(-85.21873 -175.65252)" fill="#e5e5e5"/><rect x="523.15519" y="280.01781" width="0.94479" height="2.83436" fill="#e5e5e5"/><path d="M817.06089,459.82073H504.27977a.97891.97891,0,0,1-.97886-.97886v-149.916a.97886.97886,0,0,1,1.95772,0V457.863H817.06089a.97886.97886,0,1,1,0,1.95772Z" transform="translate(-85.21873 -175.65252)" fill="#3f3d56"/><polygon points="575.548 212.069 523.544 173.118 472.251 211.537 471.077 209.97 523.544 170.672 575.3 209.438 626.731 153.155 626.938 153.071 678.817 132.168 679.549 133.985 627.876 154.804 575.548 212.069" fill="#3f3d56"/><circle cx="471.66442" cy="210.75355" r="5.87317" fill="#6c63ff"/><circle cx="523.54411" cy="172.57792" r="5.87317" fill="#6c63ff"/><circle cx="575.42381" cy="210.75355" r="5.87317" fill="#6c63ff"/><circle cx="627.3035" cy="153.97954" r="5.87317" fill="#6c63ff"/><circle cx="679.1832" cy="132.44458" r="5.87317" fill="#6c63ff"/><rect x="347.26975" y="28.67555" width="2" height="353.38818" fill="#e5e5e5"/><path d="M905.98772,554.09977a7.34552,7.34552,0,0,0-1.961-11.09143l4.882-25.64286-12.52095,5.218L893.6713,546.1344a7.38532,7.38532,0,0,0,12.31642,7.96537Z" transform="translate(-85.21873 -175.65252)" fill="#ffb7b7"/><polygon points="883.2 535.797 872.598 535.797 867.554 494.903 883.202 494.904 883.2 535.797" fill="#ffb7b7"/><path d="M971.1222,721.727l-34.18529-.00126v-.43239a13.30659,13.30659,0,0,1,13.30587-13.30566h.00084l20.87921.00085Z" transform="translate(-85.21873 -175.65252)" fill="#2f2e41"/><polygon points="825.26 535.797 814.658 535.797 809.614 494.903 825.262 494.904 825.26 535.797" fill="#ffb7b7"/><path d="M910.58783,721.727l-34.18529-.00126v-.43239a13.30659,13.30659,0,0,1,13.30587-13.30566h.00084l20.87921.00085Z" transform="translate(-85.21873 -175.65252)" fill="#2f2e41"/><polygon points="824.391 363.083 814.014 386.99 805.453 524.403 827.073 523.538 832.978 458.033 851.192 399.689 861.664 464.733 865.988 521.808 883.877 522.583 891.005 363.083 824.391 363.083" fill="#2f2e41"/><path d="M961.48266,420.76584l-30.07691.75236-17.65821,9.065-.96906,66.87968-11.0131,46.17488s68.811,4.73581,78.32355-2.1824L968.84683,488.704,983.925,431.69483Z" transform="translate(-85.21873 -175.65252)" fill="#6c63ff"/><path d="M916.96023,431.62873l-3.21269-1.04552s-10.19135,6.54059-9.22166,22.35367c0,0-.382,8.1827-.01724,13.62852.41834,6.24634-12.10688,68.31736-12.10688,68.31736h18.16032l7.783-56.21048Z" transform="translate(-85.21873 -175.65252)" fill="#6c63ff"/><path d="M983.45379,554.96455a7.34552,7.34552,0,0,1,1.961-11.09143l-4.882-25.64286,12.52095,5.218,2.71649,23.55092a7.38532,7.38532,0,0,1-12.31642,7.96537Z" transform="translate(-85.21873 -175.65252)" fill="#ffb7b7"/><path d="M979.39949,432.4935l3.2127-1.04551s10.19134,6.54059,9.22166,22.35367c0,0,.382,8.1827.01724,13.62852-.41834,6.24634,5.18866,68.31736,5.18866,68.31736H978.87944l-7.783-56.21049Z" transform="translate(-85.21873 -175.65252)" fill="#6c63ff"/><path d="M968.86587,392.707a20.84977,20.84977,0,1,1-20.84978-20.84975h0a20.79787,20.79787,0,0,1,20.84975,20.74588Q968.866,392.655,968.86587,392.707Z" transform="translate(-85.21873 -175.65252)" fill="#ffb7b7"/><path d="M927.23562,364.702c2.44244-5.25207,7.169-4.21369,11.30278-2.43339,5.23475-1.16114,10.21334-4.63745,15.85348-2.58158,5.55578,8.08056,24.209,5.70314,20.24058,18.85835-.00519,3.15227,5.93159,1.31744,4.89514,6.48014,3.14494,9.93555-11.35179,28.752-19.674,24.78956,2.05822-3.77215,6.76-12.34-.37128-13.18978-15.34037,14.27367-1.58274-27.18028-20.85755-15.1248C932.24272,387.341,923.50556,370.544,927.23562,364.702Z" transform="translate(-85.21873 -175.65252)" fill="#2f2e41"/></svg>
                </div>
                <div class="text">
                    <h2>User dashboard</h2>
                    <p>An interactive user dashboard to provide customised access of information as well as post and acknowledge other posts.</p>
                </div>
            </div>
            <div class="desc-container">
                <div class="image">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="688.82902" height="604.26798" viewBox="0 0 688.82902 604.26798" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="439.653 580.795 427.455 579.572 426.367 531.939 444.371 533.744 439.653 580.795" fill="#9e616a"/><path d="M697.165,740.79788l-39.33362-3.94307.04986-.49751a15.38729,15.38729,0,0,1,16.844-13.77536l.001.00009,24.02362,2.40838Z" transform="translate(-255.58549 -147.86601)" fill="#2f2e41"/><path d="M519.52851,542.55083H277.24539a21.68439,21.68439,0,0,1-21.6599-21.6599v-351.365a21.68439,21.68439,0,0,1,21.6599-21.6599H519.52851a21.6844,21.6844,0,0,1,21.65991,21.6599v351.365A21.6844,21.6844,0,0,1,519.52851,542.55083Z" transform="translate(-255.58549 -147.86601)" fill="#e4e4e4"/><path d="M519.955,528.73133h-243.136a6.68453,6.68453,0,0,1-6.6769-6.6769v-353.692a6.68453,6.68453,0,0,1,6.6769-6.6769H519.955a6.68454,6.68454,0,0,1,6.67691,6.6769v353.692A6.68454,6.68454,0,0,1,519.955,528.73133Z" transform="translate(-255.58549 -147.86601)" fill="#fff"/><circle cx="141.88016" cy="6.63336" r="1.8426" fill="#fff"/><rect x="87.96361" y="200.91751" width="160.60484" height="5.96776" fill="#e4e4e4"/><rect x="87.96361" y="219.81544" width="160.60484" height="5.96776" fill="#e4e4e4"/><rect x="87.96361" y="238.71343" width="160.60484" height="5.96776" fill="#e4e4e4"/><rect x="37.03448" y="204.60568" width="36.38733" height="36.38733" fill="#e4e4e4"/><rect x="87.96361" y="280.12027" width="160.60484" height="5.96776" fill="#e4e4e4"/><rect x="87.96361" y="299.01821" width="160.60484" height="5.96776" fill="#e4e4e4"/><rect x="87.96361" y="317.91619" width="160.60484" height="5.96776" fill="#e4e4e4"/><rect x="37.03448" y="283.80845" width="36.38733" height="36.38733" fill="#e4e4e4"/><rect x="372.61779" y="222.08695" width="67.45461" height="65.11894" transform="translate(-320.08365 15.85319) rotate(-21.14419)" fill="#184ad1"/><path d="M371.38122,294.96407l-25.44714-65.79638,68.09-26.33448,25.447,65.79639Zm-22.86047-64.65283,24.00439,62.06592,64.359-24.89112L412.88,205.42013Z" transform="translate(-255.58549 -147.86601)" fill="#3f3d56"/><path d="M750.89929,740.38692c-23.04371,0-41.791-36.7539-41.791-81.92968a148.80179,148.80179,0,0,1,4.68506-37.75c.43384-1.65137.90356-3.28614,1.3977-4.86621,7.64063-24.61524,20.98975-39.3125,35.70826-39.3125,23.04345,0,41.79077,36.75292,41.79077,81.92871S773.94274,740.38692,750.89929,740.38692Zm0-161.85839c-13.59009,0-26.541,14.52539-33.79883,37.9082-.4856,1.55176-.94678,3.15722-1.37158,4.77344a146.81247,146.81247,0,0,0-4.62061,37.24218c0,44.07813,17.8501,79.93457,39.791,79.93457,21.94067,0,39.79077-35.85644,39.79077-79.92968S772.84,578.52853,750.89929,578.52853Z" transform="translate(-255.58549 -147.86601)" fill="#3f3d56"/><polygon points="442.387 594.008 396.275 589.297 396.459 588.004 442.571 592.715 442.387 594.008" fill="#3f3d56"/><path d="M761.01525,707.00411c-8.75561,0-15.3584-20.87109-15.3584-48.54687s6.60279-48.5459,15.3584-48.5459,15.3584,20.87011,15.3584,48.5459S769.77087,707.00411,761.01525,707.00411Zm0-95.09277c-6.42431,0-13.3584,17.7959-13.3584,46.5459,0,28.751,6.93409,46.54687,13.3584,46.54687s13.3584-17.7959,13.3584-46.54687C774.37365,629.70724,767.43957,611.91134,761.01525,611.91134Z" transform="translate(-255.58549 -147.86601)" fill="#3f3d56"/><ellipse cx="507.06148" cy="510.59156" rx="5.54755" ry="10.92041" fill="#cacaca"/><path d="M846.83923,741.39767c-23.76319,0-43.096-37.33887-43.096-83.23438a149.67011,149.67011,0,0,1,4.62549-37.59863c.47168-1.79785.97-3.53906,1.48291-5.18067,7.85351-25.33105,21.68091-40.45507,36.98755-40.45507,23.76318,0,43.09619,37.33886,43.09619,83.23437S870.60241,741.39767,846.83923,741.39767Zm0-164.46875c-14.16919,0-27.61011,14.96289-35.07788,39.04882-.5044,1.61524-.99414,3.32618-1.4563,5.08789a147.65964,147.65964,0,0,0-4.56177,37.09278c0,44.79785,18.43555,81.23926,41.096,81.23926,22.66064,0,41.09619-36.44141,41.09619-81.23438S869.49987,576.92892,846.83923,576.92892Z" transform="translate(-255.58549 -147.86601)" fill="#3f3d56"/><path d="M856.95544,706.70919c-8.75586,0-15.3584-20.87012-15.3584-48.5459s6.60254-48.5459,15.3584-48.5459,15.3584,20.87012,15.3584,48.5459S865.7113,706.70919,856.95544,706.70919Zm0-95.0918c-6.42432,0-13.3584,17.7959-13.3584,46.5459s6.93408,46.5459,13.3584,46.5459,13.3584-17.7959,13.3584-46.5459S863.37975,611.61739,856.95544,611.61739Z" transform="translate(-255.58549 -147.86601)" fill="#3f3d56"/><ellipse cx="603.00166" cy="510.29731" rx="5.54755" ry="10.92041" fill="#cacaca"/><path d="M943.41451,741.80685h-381a1,1,0,0,1,0-2h381a1,1,0,0,1,0,2Z" transform="translate(-255.58549 -147.86601)" fill="#cacaca"/><path d="M701.05095,357.25156a10.05578,10.05578,0,0,0,7.47594,13.48578l5.09444,35.36984,13.8866-12.32867-6.96673-31.69768a10.11028,10.11028,0,0,0-19.49025-4.82927Z" transform="translate(-255.58549 -147.86601)" fill="#9e616a"/><polygon points="494.987 348.439 584.401 348.113 584.401 383.338 494.987 386.946 494.987 348.439" fill="#3f3d56"/><polygon points="474.609 590.176 462.475 588.425 463.454 540.788 481.363 543.373 474.609 590.176" fill="#9e616a"/><path d="M731.59171,750.25047l-39.12548-5.646.0714-.49488A15.38731,15.38731,0,0,1,709.96344,731.078l.001.00014,23.89649,3.4485Z" transform="translate(-255.58549 -147.86601)" fill="#2f2e41"/><polygon points="418.625 467.911 417.323 467.839 421.272 396.083 502.167 396.083 502.167 397.388 422.508 397.388 418.625 467.911" fill="#3f3d56"/><rect x="709.43419" y="719.02957" width="1.30591" height="55.66345" transform="translate(-400.05609 1174.97845) rotate(-80.42636)" fill="#3f3d56"/><path d="M812.08554,615.84517q-.73425,2.35939-1.38361,4.81658l-1.36407.15009-42.44867,4.71869-97.24555-9.7898,101.1615-5.22119L810.8063,615.682Z" transform="translate(-255.58549 -147.86601)" fill="#3f3d56"/><path d="M789.84878,373.91922s-14.13537-4.50691-23.22241,13.52076S743.404,425.29812,743.404,425.29812l8.07739,1.80278s2.01935-12.61937,7.06769-14.42215l-2.01935,16.22492S817.11,447.83276,844.371,427.1009l-1.00964-6.30969s4.03869.90139,4.03869,6.30969l3.029-2.70414s-3.029-5.4083-12.116-12.61937c-5.96436-4.733-8.01392-13.73757-8.71827-19.36734a22.224,22.224,0,0,0-6.044-12.763C817.51187,373.399,806.50833,366.75822,789.84878,373.91922Z" transform="translate(-255.58549 -147.86601)" fill="#2f2e41"/><path d="M738.3688,570.56773l-1.972,7.02537s-39.73644-9.63838-44.91312,15.28318S679.20758,694.929,679.20758,694.929l20.06545,4.11665,19.055-84.08255L795.50847,598.127l-5.05328-43.55729Z" transform="translate(-255.58549 -147.86601)" fill="#2f2e41"/><path d="M771.78409,582.129s-53.5177-11.09515-57.4336,15.6637,1.958,77.66589,2.6106,78.97119-2.6106,25.45355-2.6106,25.45355l23.49555,3.26331s15.011-71.13935,8.48449-89.4137l44.15845-2.73145c15.24316-.94287,27.69592-12.98425,28.57251-28.23132.33551-5.83643-1.12543-11.13342-6.16022-14.07037-15.66369-9.13715-44.38049-9.13715-44.38049-9.13715Z" transform="translate(-255.58549 -147.86601)" fill="#2f2e41"/><circle cx="541.65218" cy="267.66797" r="23.49556" fill="#a0616a"/><path d="M775.04739,452.81935l-15.011-1.8739L749,477s-15.39621,95.66554-11.4802,96.9709a17.64827,17.64827,0,0,0,6.85285.979l74.093,3.857s3.3053-14.90491,2-26,13.9733-71.83916,13.9733-71.83916l-2.937-27.73782L819,453l-9-7-25.0468-.07806Z" transform="translate(-255.58549 -147.86601)" fill="#e4e4e4"/><polygon points="505.103 306.343 504.451 302.427 486.176 280.237 467.415 218.134 449.415 237.134 468.555 297.858 494.661 331.144 505.103 306.343" fill="#e4e4e4"/><path d="M766.37063,418.34388s8.0774-11.10638,15.14508-13.12573,8.0774-12.11606,8.0774-12.11606,18.17407,20.19342,29.28045,21.2031,1.00965-24.23209,1.00965-24.23209l-20.19342-5.04834-19.18372,2.01935L765.361,397.14082Z" transform="translate(-255.58549 -147.86601)" fill="#2f2e41"/><polygon points="586.36 429.391 585.728 402.609 524.992 402.609 523.051 474.419 521.746 474.384 523.721 401.304 586.99 401.304 587.011 401.935 587.664 429.346 586.36 429.391" fill="#3f3d56"/><polygon points="585.054 392.82 583.748 392.82 583.748 343.002 604.816 349.118 604.451 350.371 585.054 344.74 585.054 392.82" fill="#3f3d56"/><polygon points="594.191 341.913 607.897 347.134 605.286 354.313 594.191 349.744 594.191 341.913" fill="#3f3d56"/><polygon points="540.021 398.041 540.021 408.483 578.906 408.483 578.906 398.735 540.021 398.041" fill="#3f3d56"/><polygon points="440.164 392.82 440.164 403.262 479.05 403.262 479.05 393.513 440.164 392.82" fill="#3f3d56"/><path d="M766.88919,515.34779h-.31726v-8.69074a5.03,5.03,0,0,0-5.03-5.03H743.12942a5.03,5.03,0,0,0-5.03,5.03h0v47.67817a5.03,5.03,0,0,0,5.03,5.03H761.542a5.03,5.03,0,0,0,5.03-5.03V521.534h.31726Z" transform="translate(-255.58549 -147.86601)" fill="#3f3d56"/><circle cx="496.90883" cy="368.57172" r="3.08105" fill="#d0cde1"/><polygon points="570.695 337.997 568.737 375.198 540.021 381.072 566.127 370.629 570.695 337.997" opacity="0.15" style="isolation:isolate"/><path d="M708.8201,353.67805v-78.707h230v58.20459h-209.498Z" transform="translate(-255.58549 -147.86601)" fill="#fff"/><path d="M708.8201,353.67805v-78.707h230v58.20459h-209.498Zm2-76.707V348.85l17.67382-17.67432H936.8201V276.971Z" transform="translate(-255.58549 -147.86601)" fill="#3f3d56"/><rect x="505.10115" y="141.75158" width="128.26666" height="10.39999" fill="#184ad1"/><rect x="505.10115" y="157.35158" width="128.26666" height="10.39999" fill="#184ad1"/><path d="M758.32315,551.49693a10.05576,10.05576,0,0,0,14.331-5.69008l35.73092-.52973L797.9334,529.928l-32.32833,2.85623a10.11027,10.11027,0,0,0-7.28192,18.7127Z" transform="translate(-255.58549 -147.86601)" fill="#9e616a"/><path d="M824.32278,457.79835l5.8739-4.56857s9.7898-5.22125,11.74781,13.0531,16.31634,78.97122,1.958,79.62387S776,548,776,548l-2-18,52.9335-4.97826Z" transform="translate(-255.58549 -147.86601)" fill="#e4e4e4"/></svg>
                </div>
                <div class="text">
                    <h2>Feedback mechanism</h2>
                    <p>Users and members of the development team can post their feedbacks as well as tasks.</p>
                </div>
            </div>
            <div class="desc-container">
                <div class="image">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="843.31696" height="590.96051" viewBox="0 0 843.31696 590.96051" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M224.84183,663.77549c3.3177-26.67814,19.85136-52.96384,45.29423-61.64564a123.86334,123.86334,0,0,0,.00613,85.04048c3.90959,10.57529,9.35914,21.9305,5.68165,32.58879-2.28809,6.6319-7.88558,11.70587-14.14246,14.8785-6.25726,3.17262-13.20152,4.68476-20.05886,6.16664l-1.34957,1.11616C229.387,717.33942,221.52412,690.45362,224.84183,663.77549Z" transform="translate(-178.34152 -154.51974)" fill="#f0f0f0"/><path d="M270.38853,602.6343a105.86975,105.86975,0,0,0-26.31905,59.58345,45.59123,45.59123,0,0,0,.5186,14.27515,26.14861,26.14861,0,0,0,6.50347,12.12824c2.93126,3.22058,6.30257,6.17542,8.39991,10.05246a16.01086,16.01086,0,0,1,.78221,13.07063c-1.85174,5.31109-5.5014,9.64009-9.21759,13.74945-4.12611,4.56267-8.48414,9.23648-10.23805,15.28536-.21251.73291-1.33731.36031-1.12512-.37149,3.05151-10.524,13.26755-16.50187,18.13956-25.98072,2.27337-4.423,3.22758-9.55792,1.09633-14.22686-1.86368-4.08278-5.3376-7.13282-8.33374-10.36807A27.90262,27.90262,0,0,1,243.79421,678.21a42.1481,42.1481,0,0,1-1.06551-14.20255,102.71271,102.71271,0,0,1,7.50152-31.21348,107.74726,107.74726,0,0,1,19.37431-31.04834c.5066-.56729,1.2873.32506.784.88865Z" transform="translate(-178.34152 -154.51974)" fill="#fff"/><path d="M244.38841,655.04738a15.88384,15.88384,0,0,1-12.09073-16.6389c.06037-.76,1.24414-.70185,1.18369.05912a14.70807,14.70807,0,0,0,11.27854,15.45466c.74174.17635.366,1.30046-.3715,1.12512Z" transform="translate(-178.34152 -154.51974)" fill="#fff"/><path d="M249.39022,687.18393a30.61482,30.61482,0,0,0,13.67134-17.63188c.2151-.73213,1.34-.35975,1.12512.37149a31.844,31.844,0,0,1-14.26357,18.31865c-.657.38973-1.18634-.67065-.53289-1.05826Z" transform="translate(-178.34152 -154.51974)" fill="#fff"/><path d="M255.96983,622.5379a8.991,8.991,0,0,0,8.52045-.43252c.65175-.39787,1.1804.663.53289,1.05826a10.07516,10.07516,0,0,1-9.42483.49938.61234.61234,0,0,1-.37682-.74831.59544.59544,0,0,1,.74831-.37681Z" transform="translate(-178.34152 -154.51974)" fill="#fff"/><path d="M347.68951,649.78024c-.3999.26-.79981.52-1.2002.79a118.40687,118.40687,0,0,0-15.13965,11.81995c-.37011.33-.74023.67-1.10009,1.01a124.82725,124.82725,0,0,0-27.10987,37.11,121.22331,121.22331,0,0,0-6.64013,17.18c-2.4502,8.13-4.46,17.14-9.31006,23.79a20.79633,20.79633,0,0,1-1.62012,2H241.73931c-.09961-.05-.1997-.09-.2998-.14l-1.75.08c.07031-.31.1499-.63.22021-.94.04-.18.08985-.36.12989-.54.02978-.12.06-.24.08007-.35.00977-.04.02-.08.02979-.11.02-.11.05029-.21.07031-.31q.65991-2.685,1.35987-5.37c0-.01,0-.01.00976-.02,3.59033-13.63,8.3501-27.08,15-39.38.2002-.37.3999-.75.62012-1.12a115.674,115.674,0,0,1,10.39013-15.76,102.26444,102.26444,0,0,1,6.81006-7.79,85.037,85.037,0,0,1,21.27979-15.94c15.72021-8.3,33.91992-11.48,50.72021-6.41C346.83941,649.51028,347.25982,649.64023,347.68951,649.78024Z" transform="translate(-178.34152 -154.51974)" fill="#f0f0f0"/><path d="M347.591,650.33654a105.86972,105.86972,0,0,0-56.88764,31.72816,45.59132,45.59132,0,0,0-8.18056,11.71014,26.14871,26.14871,0,0,0-2.10938,13.59926c.40144,4.33627,1.31422,8.72531.65458,13.08366a16.0108,16.0108,0,0,1-7.24487,10.9071c-4.67615,3.12574-10.19656,4.38485-15.63784,5.42855-6.04151,1.15883-12.33511,2.26677-17.37736,6.04049-.61094.45724-1.28469-.51747-.67468-.974,8.77265-6.56562,20.52866-5.18784,30.12561-9.82289,4.47812-2.16279,8.33157-5.68823,9.44091-10.69927.97007-4.38194.03268-8.90877-.41173-13.29582a27.90246,27.90246,0,0,1,1.56708-13.374,42.14774,42.14774,0,0,1,7.70016-11.98146,102.71229,102.71229,0,0,1,24.78222-20.40578A107.74717,107.74717,0,0,1,347.5,649.155c.746-.14794.83213,1.03459.091,1.18156Z" transform="translate(-178.34152 -154.51974)" fill="#fff"/><path d="M295.275,676.53158a15.88383,15.88383,0,0,1,.364-20.56469c.50575-.57043,1.41593.18868.90951.75987a14.70809,14.70809,0,0,0-.29949,19.13014c.48607.58739-.49073,1.25871-.974.67468Z" transform="translate(-178.34152 -154.51974)" fill="#fff"/><path d="M279.92028,705.20225a30.61484,30.61484,0,0,0,21.53141-5.847c.61253-.45506,1.28647.51951.67468.974a31.844,31.844,0,0,1-22.41775,6.03876c-.75925-.08439-.54346-1.24974.21166-1.1658Z" transform="translate(-178.34152 -154.51974)" fill="#fff"/><path d="M324.0951,657.54739a8.991,8.991,0,0,0,7.06351,4.78455c.75993.07473.54332,1.24-.21166,1.16581a10.07521,10.07521,0,0,1-7.82587-5.27568.61234.61234,0,0,1,.14967-.82434.59543.59543,0,0,1,.82435.14966Z" transform="translate(-178.34152 -154.51974)" fill="#fff"/><polygon points="812.114 307.961 671.114 307.961 671.114 305.961 810.114 305.961 810.114 212.961 812.114 212.961 812.114 307.961" fill="#e4e4e4"/><polygon points="355.114 346.961 353.114 346.961 353.114 251.961 494.114 251.961 494.114 253.961 355.114 253.961 355.114 346.961" fill="#e4e4e4"/><polygon points="561.114 134.961 420.114 134.961 420.114 39.961 422.114 39.961 422.114 132.961 561.114 132.961 561.114 134.961" fill="#e4e4e4"/><path id="a6516cba-8069-4f45-b641-c1f90dba684f-308" data-name="Path 680" d="M570.39852,154.51974a2.85519,2.85519,0,0,0,0,5.71037h57.91875a2.85519,2.85519,0,0,0,0-5.71037Z" transform="translate(-178.34152 -154.51974)" fill="#3f3d56"/><path id="a2f9acfe-22a3-4ed4-9cf2-7606b61419d8-309" data-name="Path 681" d="M570.39852,171.34155a2.85518,2.85518,0,0,0,0,5.71037h57.91875a2.85519,2.85519,0,0,0,0-5.71037Z" transform="translate(-178.34152 -154.51974)" fill="#3f3d56"/><path id="ec202844-6974-4039-9753-1a4628c4214d-310" data-name="Path 683" d="M1018.8033,354.6936a2.85519,2.85519,0,0,0,0-5.71037H960.87845a2.85519,2.85519,0,1,0,0,5.71037Z" transform="translate(-178.34152 -154.51974)" fill="#2f2e41"/><path id="e7621fd2-cc0e-4ef1-8ca7-425f7b24c113-311" data-name="Path 684" d="M1018.8033,337.87006a2.85519,2.85519,0,0,0,0-5.71037H960.87845a2.85519,2.85519,0,1,0,0,5.71037Z" transform="translate(-178.34152 -154.51974)" fill="#2f2e41"/><path d="M773.45569,490.48026a107,107,0,1,1,107-107A107.12118,107.12118,0,0,1,773.45569,490.48026Zm0-212a105,105,0,1,0,105,105A105.119,105.119,0,0,0,773.45569,278.48026Z" transform="translate(-178.34152 -154.51974)" fill="#e4e4e4"/><circle cx="552.11417" cy="134.96051" r="12" fill="#184ad1"/><circle cx="491.11417" cy="253.96051" r="12" fill="#184ad1"/><circle cx="667.11417" cy="307.96051" r="12" fill="#184ad1"/><path id="bc1eae62-5e4d-4f76-aab9-42af61f239ce-312" data-name="Path 683" d="M503.10809,514.26691a2.85518,2.85518,0,1,0,0,5.71037h57.92485a2.85519,2.85519,0,0,0,0-5.71037Z" transform="translate(-178.34152 -154.51974)" fill="#2f2e41"/><path id="ace38b77-7629-49a8-ba58-07c8d3bba8b5-313" data-name="Path 684" d="M503.10809,531.09045a2.85519,2.85519,0,1,0,0,5.71037h57.92485a2.85519,2.85519,0,0,0,0-5.71037Z" transform="translate(-178.34152 -154.51974)" fill="#2f2e41"/><path d="M360.23274,744.91247H345.67792a6.91067,6.91067,0,0,1-6.90292-6.90291V616.70149a6.91068,6.91068,0,0,1,6.90292-6.90292h14.55482a6.91068,6.91068,0,0,1,6.90292,6.90292V738.00956A6.91067,6.91067,0,0,1,360.23274,744.91247Z" transform="translate(-178.34152 -154.51974)" fill="#184ad1"/><path d="M398.88156,744.91247H384.3265a6.91067,6.91067,0,0,1-6.90292-6.90291V616.70149a6.91068,6.91068,0,0,1,6.90292-6.90292h14.55506a6.91068,6.91068,0,0,1,6.90292,6.90292V738.00956A6.91067,6.91067,0,0,1,398.88156,744.91247Z" transform="translate(-178.34152 -154.51974)" fill="#184ad1"/><circle cx="195.35917" cy="278.88085" r="50.29268" fill="#184ad1"/><path d="M390.772,652.81468h-36.1806a42.67686,42.67686,0,0,1-37.0395-64.15436l50.59771-87.63757a6.40982,6.40982,0,0,1,11.10216,0l49.57884,85.87284A43.94635,43.94635,0,0,1,390.772,652.81468Z" transform="translate(-178.34152 -154.51974)" fill="#2f2e41"/><path d="M385.57127,454.51261c3.26-.09052,7.31737-.20368,10.44309-2.487a8.02,8.02,0,0,0,3.15569-5.98853,5.39494,5.39494,0,0,0-1.83455-4.43083c-1.63256-1.37954-4.01651-1.70311-6.5856-.94811l2.66178-19.452-1.954-.26772-3.12921,22.86832,1.63171-.74874c1.89173-.86768,4.48851-1.30923,6.10217.05441a3.4664,3.4664,0,0,1,1.13672,2.85535,6.0616,6.0616,0,0,1-2.3482,4.465c-2.43246,1.77677-5.66652,2.006-9.33454,2.10853Z" transform="translate(-178.34152 -154.51974)" fill="#2f2e41"/><rect x="224.73345" y="268.36397" width="10.62221" height="1.97226" fill="#2f2e41"/><rect x="191.205" y="268.36397" width="10.62221" height="1.97226" fill="#2f2e41"/><path d="M361.87132,641.56626a6.84449,6.84449,0,0,1-.66147-2.81118l-2.47938-90.33657a14.18017,14.18017,0,0,1,28.35364-.61639l2.47895,90.33678a6.91025,6.91025,0,0,1-6.75066,7.05146l-14.55122.31624a6.9192,6.9192,0,0,1-6.38986-3.94034Z" transform="translate(-178.34152 -154.51974)" fill="#184ad1"/><path d="M369.03445,396.22389c6.11043,7.991,15.81068,13.35154,26.06283,12.0823,9.763-1.20867,17.81727-8.01348,19.838-17.75577a29.25827,29.25827,0,0,0-7.68852-25.82727c-6.91028-7.2681-16.8-11.17783-26.58914-12.5185-18.54366-2.53964-37.58855,3.99238-51.60934,16.17482a63.221,63.221,0,0,0-16.461,22.06481A61.85336,61.85336,0,0,0,307.484,417.1464c.53875,18.12014,8.47578,36.20559,22.17089,48.22263a62.49968,62.49968,0,0,0,5.33307,4.177c1.56191,1.09571,3.04187-1.468,1.49316-2.55449-14.02472-9.83866-22.97056-25.84741-25.42579-42.66835a59.09282,59.09282,0,0,1,13.85788-47.66929c11.32483-12.87686,27.92989-21.24647,45.12811-21.99639,17.30555-.75459,38.93161,6.97139,42.17,26.23537,1.45149,8.63438-1.776,17.71019-9.68829,22.03293-8.47138,4.62817-18.85892,2.72352-26.139-3.25369a30.02551,30.02551,0,0,1-4.79514-4.94141c-1.141-1.49215-3.71167-.02017-2.55449,1.49315Z" transform="translate(-178.34152 -154.51974)" fill="#2f2e41"/><path d="M560.34152,745.48026h-381a1,1,0,1,1,0-2h381a1,1,0,0,1,0,2Z" transform="translate(-178.34152 -154.51974)" fill="#3f3d56"/></svg>
                </div>
                <div class="text">
                    <h2>Data management API</h2>
                    <p>Admins can manage the data of the application using the data management API implemented on this server.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>